
body {
  height: 100%;
  min-height: 100%;
}
main {
  width: 100%;
  height: 1000px;
  
}
canvas {
  padding-left: 27%;
  display: block;
  
}
h1 {

  padding-top: 30px;
  padding-left: 27%;
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-weight:800;
  
}
